<% include ../partials/header %>
<% include nav %>
<div class="container">
    <div class="container-mop-content">
        <h1>Edit <%= references %></h1>
        <%if (locals.errors) { %>
        <%errors.forEach(function(error){ %>
        <%= error.msg%>
        <% }); %>
        <% } %>
        <% results.forEach(function(result, key) { %>
        <form action="/admin/edit-save/<%= references %>/<%= result.id %>" method="POST">
            <%if (references == 'page' || references == 'questionnaire' || references == 'question' || references == 'answer') { %>
            <div class="form-group">
                <label for="title">Title:</label>
                <input name="name" type="text" class="form-control" id="title"
                       placeholder="Questionnaire title" value="<%= result.name %>">
            </div>
            <% } %>
            <%if (references == 'question') { %>
            <select id="select" name="type" class="form-control">
                <% type_questions.forEach(function(type_question) { %>
                <%if (type_question.id == result.type_question_id) { %>
                <option value="<%= type_question.id %>" selected><%= type_question.name %></option>
                <% } else { %>
                <option value="<%= type_question.id %>"><%= type_question.name %></option>
                <% } %>
                <% }); %>
            </select>
            <% } %>
            <%if (references == 'questionnaire') { %>
            <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description of questionnaire"><%= result.description %></textarea>
            </div>
            <% } %>

            <div class="main-button-holder">
                <button type="submit" class="main-button">SAVE</button>
                <%if (references == 'questionnaire') { %>
                <a href="/admin/questionnaire" class="back-button">BACK</a>
                <% } %>
                <%if (references == 'page'){ %>
                <a href="/admin/questionnaire/<%= result.questionnaire_id %>" class="back-button">BACK</a>
                <% } %>

                <%if (references == 'question'){ %>
                <a href="/admin/page/<%= result.page_questionnaire_id %>" class="back-button">BACK</a>
                <% } %>
                <%if (references == 'answer'){ %>
                <a href="/admin/question/<%= result.question_id %>" class="back-button">BACK</a>
                <% } %>
            </div>

        </form>
        <% }); %>
        </div>
    </div>
</div>
<% include ../partials/footer %>